<div class="section dark " id="about" style="padding-top:100px; padding-bottom:60px; background-color:#373737; background-image:url(images/daniel-petterson.png); background-repeat:no-repeat; background-position:center top; background-attachment:fixed; background-size:cover; -webkit-background-size:cover" data-stellar-background-ratio="0.5">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One Second (1/2) Column -->
                                    <div class="column one-second column_column ">
                                        <div class="column_attr ">
                                            <div style="margin-left: 80px;">
                                                <h2 style="font-size: 50px; line-height: 50px; font-weight: bold; margin-bottom: 3px;">Daniel Petterson</h2>
                                                <p style="font-size: 30px; line-height: 30px; font-weight: 300; margin-bottom: 30px; color: #EDEDED;">
                                                    designer
                                                </p>
                                                <p class="big" style="color: #d1d1d1;">
                                                    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus ferment.
                                                </p>
                                                <p class="big" style="color: #d1d1d1; margin-bottom: 30px;">
                                                    Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci.
                                                </p>
                                                <%= image_tag "signture.png" %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>