<div class="section " id="education" style="padding-top:55px; padding-bottom:40px; background-color:#fff">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- Page Title-->
                                    <!-- One full width row-->
                                    <div class="column one column_fancy_heading ">
                                        <div class="fancy_heading fancy_heading_icon">
                                            <h2 class="title">Education</h2>
                                        </div>
                                    </div>
                                    <!-- Timeline element -->
                                    <!-- One full width row-->
                                    <div class="column one column_timeline ">
                                        <ul class="timeline_items">
                                            <li>
                                                <h3><span>11.05.2013</span>Aenean ferme ntum elit eget</h3>
                                                <div class="desc">
                                                    Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend ante lobortis id. In viverra ipsum stie id viverra.
                                                </div>
                                            </li>
                                            <li>
                                                <h3><span>15.08.2013</span>Quisque lorem tortor fringilla</h3>
                                                <div class="desc">
                                                    Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend ante lobortis id. In viverra ipsum stie id viverra.
                                                </div>
                                            </li>
                                            <li>
                                                <h3><span>29.12.2013</span>Vitae adipiscing turpis aen</h3>
                                                <div class="desc">
                                                    Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend ante lobortis id. In viverra ipsum stie id viverra.
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        