<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<div class="section " id="experience" style="padding-top:55px; padding-bottom:0px; background-color:#f3f3f3">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- Page Title-->
                                    <!-- One full width row-->
                                    <div class="column one column_fancy_heading ">
                                        <div class="fancy_heading fancy_heading_icon">
                                            <h2 class="title">Experience</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section " style="padding-top:60px; padding-bottom:0px; background-color:#fff">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_column ">
                                        <div class="column_attr animate" data-anim-type="fadeInLeft">
                                            <h4 class="hrmargin_b_5">Frontend Developer</h4>
                                            <div class="big">
                                                <p>
                                                    Melbourne, Australia
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Three Fourth (3/4) Column -->
                                    <div class="column three-fourth column_column ">
                                        <div class="column_attr animate" data-anim-type="fadeInRight">
                                            <div class="big">
                                                <p>
                                                    Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis.
                                                </p>
                                            </div>
                                            <div class="hr_dots hrmargin_b_25">
                                                <span></span><span></span><span></span>
                                            </div>
                                            <!-- One Second (1/2) Column -->
                                            <div class="column one-second">
                                                <h5>Responsibilities:</h5>
                                                <ul class="list_mixed">
                                                    <li class="list_check">
                                                        knowledge of Photoshop
                                                    </li>
                                                    <li class="list_check">
                                                        ability to cut layouts
                                                    </li>
                                                    <li class="list_check">
                                                        knowledge of W3C standards
                                                    </li>
                                                    <li class="list_check">
                                                        knowledge HTML5 & jQuery
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- One Second (1/2) Column -->
                                            <div class="column one-second">
                                                <h5>Experience:</h5>
                                                <ul class="list_mixed">
                                                    <li class="list_star">
                                                        Great job in a reputable company
                                                    </li>
                                                    <li class="list_star">
                                                        Interesting projects for leading brands
                                                    </li>
                                                    <li class="list_star">
                                                        Opportunity for professional development
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page devider -->
                                    <!-- One full width row-->
                                    <div class="column one column_divider ">
                                        <hr class="no_line" />
                                    </div>
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_column ">
                                        <div class="column_attr animate" data-anim-type="fadeInLeft">
                                            <h4 class="hrmargin_b_5">Web designer</h4>
                                            <div class="big">
                                                <p>
                                                    New York, USA
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Three Fourth (3/4) Column -->
                                    <div class="column three-fourth column_column ">
                                        <div class="column_attr animate" data-anim-type="fadeInRight">
                                            <div class="big">
                                                <p>
                                                    Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis.
                                                </p>
                                            </div>
                                            <div class="hr_dots hrmargin_b_25">
                                                <span></span><span></span><span></span>
                                            </div>
                                            <!-- One Second (1/2) Column -->
                                            <div class="column one-second">
                                                <h5>Responsibilities:</h5>
                                                <ul class="list_mixed">
                                                    <li class="list_check">
                                                        knowledge of Photoshop
                                                    </li>
                                                    <li class="list_check">
                                                        ability to cut layouts
                                                    </li>
                                                    <li class="list_check">
                                                        knowledge of W3C standards
                                                    </li>
                                                    <li class="list_check">
                                                        knowledge HTML5 & jQuery
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- One Second (1/2) Column -->
                                            <div class="column one-second">
                                                <h5>Experience:</h5>
                                                <ul class="list_mixed">
                                                    <li class="list_star">
                                                        Great job in a reputable company
                                                    </li>
                                                    <li class="list_star">
                                                        Interesting projects for leading brands
                                                    </li>
                                                    <li class="list_star">
                                                        Opportunity for professional development
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>